<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Posts</title>
    <link rel="stylesheet" href="/style.css"/>


</head>
<body>
    <h2>Edit your Post</h2>
    <p> Post id: <%= post.id %></p>
    <p>post username : <%= post.username %></p>
    <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
        <textarea row="10" col="35" name="content"> <%= post.content%></textarea>
        <button>submit</button>
    </form>
    
</body>
</html>