<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To create new post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="form">
    <form  method="post" action="/posts">
        <input placeholder="enter username" name="username"/>
        <br>
        <br>
        <textarea placeholder="write your post" name="content"></textarea>
        <br>
        <br>
        <button class="btn">Submit form</button>
    </form>
    </div>
</body>
</html>